<% @movies.each do |movie| %>
    <section class="movie">
        <div class="summsary">
            <h2><%= movie.title %></h2>
            <p>
                Synopsis: <i><%= truncate(movie.description, length: 35, separator: " ")  %></i>
            </p>
            <h3>
                Box Office: <%= total_gross(movie) %>
            </h3>
        </div>
    </section>
<% end %>